html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before, 
*::after {
    box-sizing: inherit;
}

body {
    background: center / auto url("background.jpg");
    margin: 10%;
    padding: 0%;
    min-height: 60vh;
    color: #101010;
    font-family: Arial, Helvetica, sans-serif;
}

#btnload {
    background: rgb(97, 97, 255);
    border: none;
    border-radius: 1em;
    padding: 0.5rem 1rem;
    color: #fff;
}

#result {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.generator {
    background: #fff;
    padding: 1rem;
    max-width: 70%;
    line-height: 1.9;
}

h1 {
    margin-top: 0%;
    font-family: 'Comfortaa', cursive;
}

#babynames {
    background: #fff;
    margin: 10%;
    max-width: 50%;
}

#spinner:not([hidden]) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #spinner::after {
    content: "";
    width: 80px;
    height: 80px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #f25a41;
    border-radius: 100%;
    will-change: transform;
    animation: spin 1s infinite linear
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  